name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches: [ main ]

env:
  ELASTIC_BEANSTALK_NAME: climbing_prediction
  ELASTIC_BEANSTALK_ENV_NAME: climbing-prediction-dev
  AWS_REGION: us-west-2
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          
      - name: Create ZIP deployment package
        run: |
          zip -r deploy.zip . -x "*.git*"
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: deploy-package
          path: deploy.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: deploy-package
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          
      - name: Deploy to EB
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name ${{ env.ELASTIC_BEANSTALK_NAME }} \
            --version-label "ver-${{ github.sha }}" \
            --source-bundle S3Bucket="${{ env.ELASTIC_BEANSTALK_NAME }}-deployments",S3Key="deploy.zip"
            
          aws elasticbeanstalk update-environment \
            --application-name ${{ env.ELASTIC_BEANSTALK_NAME }} \
            --environment-name ${{ env.ELASTIC_BEANSTALK_ENV_NAME }} \
            --version-label "ver-${{ github.sha }}"
